{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="blog">
        {% for donatelist in object_list %}
        <div class="blog-post">
                <div class="blog-post-img">
                        <img src="/media/{{donatelist.image}}" alt="">
                </div>
                <div class="blog-post-info">
                        <div class="blog-post-date">
                                <span>{{donatelist.created_at|date:'l'}}</span>
                                <span>{{donatelist.created_at|date:'F d, Y'}}</span>
                        </div>
                        <h1 class="blog-post-title">
                                {{donatelist.title}}
                        </h1>
                        <p class="blog-post-desc">
                                {{donatelist.description}}
                        </p>
                        <a href="{% url 'donate:detail' donatelist.slug %}" class="blog-post-link">read more</a>
                </div>
        </div>
        {% empty %}
        <div class="blog-post justify-content-center">
                <div class="blog-post-info ">
                        <h1 class="blog-post-title">
                                Tidak Ada Artikel
                        </h1>
                </div>
        </div>
        {% endfor %}
        {% if is_paginated %}
        <div class="pagination-content">
                {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">&laquo;</a>
                {% else %}
                <a href="#" class="disabled">&laquo;</a>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if current == i %}
                <a href="?page={{i}}" class="active">{{i}}</a>
                {% else %}
                <a href="?page={{i}}">{{i}}</a>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">&raquo;</a>
                {% else %}
                <a href="#" class='disabled'>&raquo;</a>
                {% endif %}
        </div>
        {% endif %}
</div>
{% endblock content %}