{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="donate-detail">
        <div class="imagery">
            <img src="/media/{{object.image}}" class="image" alt="">
        </div>
        <div class="detail">
            <h1>{{object.title}}</h1>
            <h3>{{object.description}}</h3>
            <div class="rank-donator">
                <h2>Top Donator</h2>
                <div class="capacity btn-grid">
                    {% if donators %}
                    {% for donator in donators|slice:":2"  %}
                    <div class="btn-wrap">
                        <button class="top-donate selected" data-toggle="tooltip" data-placement="top"
                            title="{{donator.donation}}">{{donator.name}}</button>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="btn-wrap">
                        <button class="top-donate selected">Empty</button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <h2>Progress</h2>
            <div class="progress">
                <div class="progress-done" data-done="{{receive}}" data-max="{{object.target}}"></div>
                <span class="progress-detail">{{receive}} dari {{object.target}}</span>
            </div>
            <a href="{% url 'donate:create' object.id %}" class="btn-submit">Donasi</a>
        </div>
    </section>
</main>

{% endblock content %}

{% block script %}
<script src='{% static 'js/app/progress.js' %}'></script>
<script src='{% static 'js/app/detail.js' %}'></script>
{% endblock script %}