{% load static %}
<!-- Team Section Start -->
<div id="team" class="team-members-tow section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Our Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <figure>
                    <img src="{% static 'img/team/abi.jpg' %}" height="390px" width="390px" alt="">
                    <div class="image-overlay">
                        <div class="overlay-text text-center">
                            <div class="info-text">
                                <strong>Abi Farhan</strong>
                                <span>Senior Designer | Android Developer</span>
                            </div>
                            <hr class="small-divider">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </figure>
                <!-- Team Item Ends -->
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <figure>
                    <img src="{% static 'img/team/aqil1.png' %}" height="390px" width="390px" alt="">
                    <div class="image-overlay">
                        <div class="overlay-text text-center">
                            <div class="info-text">
                                <strong>Aqil Fiqran Dzi'Ul Haq</strong>
                                <span>Just Human</span>
                            </div>
                            <hr class="small-divider">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </figure>
                <!-- Team Item Ends -->
            </div>
        </div>
    </div>
</div>
<!-- Team Section End -->