 <!-- Feature Section Start -->
 <div id="feature" class="section-padding">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Kelebihan</h2>
             </div>
         </div>
         <div class="row">
             <!-- Start featured -->
             <div class="col-lg-4 col-md-6 col-xs-12">
                 <div class="featured-box-item">
                     <div class="featured-icon">
                         <i class="fa fa-bolt"></i>
                     </div>
                     <div class="featured-content">
                         <h4>Cepat</h4>
                         <p>Anda dapat berdonasi disini dengan cepat</p>
                     </div>
                 </div>
             </div>
             <!-- End featured -->

             <!-- Start featured -->
             <div class="col-lg-4 col-md-6 col-xs-12">
                 <div class="featured-box-item">
                     <div class="featured-icon">
                         <i class="fa fa-diamond"></i>
                     </div>
                     <div class="featured-content">
                         <h4>Amalan</h4>
                         <p>Amalan yang lebih baik dari segalanya</p>
                     </div>
                 </div>
             </div>
             <!-- End featured -->

             <!-- Start featured -->
             <div class="col-lg-4 col-md-6 col-xs-12">
                 <div class="featured-box-item">
                     <div class="featured-icon">
                         <i class="fa fa-cubes"></i>
                     </div>
                     <div class="featured-content">
                         <h4>Terpercaya</h4>
                         <p>Setiap hal yang didonasikan akan diupdate di website ini</p>
                     </div>
                 </div>
             </div>
             <!-- End featured -->

             <!-- Start featured -->
             <div class="col-lg-4 col-md-6 col-xs-12">
                 <div class="featured-box-item">
                     <div class="featured-icon">
                         <i class="fa fa-cogs"></i>
                     </div>
                     <div class="featured-content">
                         <h4>Mudah</h4>
                         <p>semua yang dilakukan mudah</p>
                     </div>
                 </div>
             </div>
             <!-- End featured -->

             <!-- Start featured -->
             <div class="col-lg-4 col-md-6 col-xs-12">
                 <div class="featured-box-item">
                     <div class="featured-icon">
                         <i class="fa fa-check"></i>
                     </div>
                     <div class="featured-content">
                         <h4>Bermanfaat</h4>
                         <p>Tempat yang tepat</p>
                     </div>
                 </div>
             </div>
             <!-- End featured -->

             <!-- Start featured -->
             <div class="col-lg-4 col-md-6 col-xs-12">
                 <div class="featured-box-item">
                     <div class="featured-icon">
                         <i class="fa fa-cloud"></i>
                     </div>
                     <div class="featured-content">
                         <h4>Indah</h4>
                         <p>Harta yang paling berharga. adalah berdonasi</p>
                     </div>
                 </div>
             </div>
             <!-- End featured -->
         </div>
     </div>
 </div>
 <!-- Feature Section End -->