{% load static %}
<!-- Portfolio Section -->
<section id="portfolio" class="section-padding">
    <!-- Container Starts -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Portfolio</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Portfolio Controller/Buttons -->
                <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
                    <a class="filter active btn btn-common" data-filter="all">
                        Semua
                    </a>
                    <a class="filter btn btn-common" data-filter=".disabilitas">
                        Disabilitas
                    </a>
                    <a class="filter btn btn-common" data-filter=".panti-asuhan">
                        Panti Asuhan
                    </a>
                    <a class="filter btn btn-common" data-filter=".panti-jompo">
                        Panti Jompo
                    </a>
                </div>
                <!-- Portfolio Controller/Buttons Ends-->
            </div>

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
                <div class="col-lg-4 col-md-6 col-xs-12 mix panti-asuhan disabilitas">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="https://source.unsplash.com/random/355x236" height="235px" alt="" />
                        </div>
                        <div class="portfoli-content">
                            <div class="sup-desc-wrap">
                                <div class="sup-desc-inner">
                                    <div class="sup-meta-wrap">
                                        <a class="sup-title" href="#">
                                            <h4>Dodi</h4>
                                        </a>
                                        <p class="sup-description">Dodi merupakan anak yang periang namun gak riang lagi
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 mix disabilitas panti-jompo">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="https://source.unsplash.com/random/355x237" height="235px" alt="" />
                        </div>
                        <div class="portfoli-content">
                            <div class="sup-desc-wrap">
                                <div class="sup-desc-inner">
                                    <div class="sup-meta-wrap">
                                        <a class="sup-title" href="#">
                                            <h4>Isman</h4>
                                        </a>
                                        <p class="sup-description">Isman adalah disabilitas yang sedang mencukupi
                                            dirinya dengan ngedota</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 mix disabilitas">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="https://source.unsplash.com/random/355x238" height="235px" alt="" />
                        </div>
                        <div class="portfoli-content">
                            <div class="sup-desc-wrap">
                                <div class="sup-desc-inner">
                                    <div class="sup-meta-wrap">
                                        <a class="sup-title" href="#">
                                            <h4>Roni</h4>
                                        </a>
                                        <p class="sup-description">Roni happy sekali</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 mix panti-asuhan">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="https://source.unsplash.com/random/355x239" height="235px" alt="" />
                        </div>
                        <div class="portfoli-content">
                            <div class="sup-desc-wrap">
                                <div class="sup-desc-inner">
                                    <div class="sup-meta-wrap">
                                        <a class="sup-title" href="#">
                                            <h4>Andi</h4>
                                        </a>
                                        <p class="sup-description">Siapa andi yaa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 mix disabilitas panti-jompo">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="https://source.unsplash.com/random/355x240" height="235px" alt="" />
                        </div>
                        <div class="portfoli-content">
                            <div class="sup-desc-wrap">
                                <div class="sup-desc-inner">
                                    <div class="sup-meta-wrap">
                                        <a class="sup-title" href="#">
                                            <h4>Reni</h4>
                                        </a>
                                        <p class="sup-description">Saya tidak tau harus berkata apa lagi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 mix panti-jompo">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="https://source.unsplash.com/random/355x241" height="235px" alt="" />
                        </div>
                        <div class="portfoli-content">
                            <div class="sup-desc-wrap">
                                <div class="sup-desc-inner">
                                    <div class="sup-meta-wrap">
                                        <a class="sup-title" href="#">
                                            <h4>anco</h4>
                                        </a>
                                        <p class="sup-description">Ok sip</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->