<!-- Footer Section -->
<footer class="footer">
    <!-- Container Starts -->
    <div class="container">
        <!-- Row Starts -->
        <div class="row section">
            <!-- Footer Widget Starts -->
            <div class="footer-widget col-lg-6 col-md-6 col-xs-12 wow fadeIn">
                <h3 class="small-title">
                    About Us
                </h3>
                <p>
                    Web Dontsation dibuat untuk membantu para disabilitas yang kurang mampu
                </p>
                <div class="social-footer">
                    <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                    <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                    <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                    <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                </div>
            </div>
            <!-- Footer Widget Ends -->

            <!-- Footer Widget Starts -->
            <div class="footer-widget col-lg-6 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                <h3 class="small-title">
                    GALLERY
                </h3>
                <div class="plain-flicker-gallery">
                    <a href="#"><img src="/static/img/flicker/img1.jpg" alt=""></a>
                    <a href="#"><img src="/static/img/flicker/img2.jpg" alt=""></a>
                    <a href="#"><img src="/static/img/flicker/img3.jpg" alt=""></a>
                </div>
            </div>
            <!-- Footer Widget Ends -->


        </div>
        <!-- Row Ends -->
    </div>
    <!-- Container Ends -->

    <!-- Copyright -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <p class="copyright-text text-center">All copyrights reserved © 2020 - Developed by
                        <a rel="nofollow" href="#">Sans Team</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright  End-->

</footer>
<!-- Footer Section End-->