{% load static %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="icon-menu"></span>
                <span class="icon-menu"></span>
                <span class="icon-menu"></span>
            </button>
            <a href="{% url 'donate:index' %}" class="navbar-brand"><img src="{% static 'img/donstation.png'%}"
                    height="40px" width='100px' alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                <li class="nav-item" data-link='/'>
                    <a class="nav-link" href="{% url 'donate:index' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item" data-link='/verify/'>
                    <a class="nav-link" href="{% url 'donate:verify' %}">
                        Verification
                    </a>
                </li>
                <li class="nav-item" data-link='/list/disabilitas'>
                    <a class="nav-link" href="{% url 'donate:list' 'disabilitas' %}">
                        Disability
                    </a>
                </li>
                <li class="nav-item" data-link='/list/panti-asuhan'>
                    <a class="nav-link" href="{% url 'donate:list' 'panti-asuhan' %}">
                        Panti Asuhan
                    </a>
                </li>
                <li class="nav-item" data-link='/list/panti-jompo'>
                    <a class="nav-link" href="{% url 'donate:list' 'panti-jompo' %}">
                        Panti Jompo
                    </a>
                </li>
                <li class="nav-item" data-link='/list/all'>
                    <a class="nav-link" href="{% url 'donate:list' 'all' %}">
                        Semua Kategori
                    </a>
                </li>
                {% comment %} <li class="nav-item">
                    <form method="POST" action='{% url 'donate:index' %}'>
                        {% csrf_token %}
                        <div class="form-group">
                            <i class="contact-icon fa fa-user"></i>
                            <input type="search" class="form-control" id="search" placeholder="search" required
                                data-error="Please search">
                            <div class="help-block with-errors"></div>
                        </div>
                    </form>
                </li> {% endcomment %}
            </ul>
        </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="mobile-menu navbar-nav">
        <li>
            <a class="page-scroll" href="{% url 'donate:index' %}">
                Home
            </a>
        </li>
        <li>
            <a class="page-scroll" href="{% url 'donate:verify' %}">
                Verification
            </a>
        </li>
        <li>
            <a class="page-scroll" href="{% url 'donate:list' 'disabilitas' %}">
                Disability
            </a>
        </li>
        <li>
            <a class="page-scroll" href="{% url 'donate:list' 'panti-asuhan' %}">
                Panti Asuhan
            </a>
        </li>
        <li>
            <a class="page-scroll" href="{% url 'donate:list' 'panti-jompo' %}">
                Panti Jompo
            </a>
        </li>
        <li>
            <a class="page-scroll" href="{% url 'donate:list' 'all' %}">
                semua kategori
            </a>
        </li>
        {% comment %} <li>
            <div class="page-scroll">
                <form method="POST" action='{% url 'donate:index' %}'>
                    {% csrf_token %}
                    <div class="form-group">
                        <i class="contact-icon fa fa-user"></i>
                        <input type="search" class="form-control" id="search" placeholder="search" required
                            data-error="Please search">
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
        </li> {% endcomment %}
    </ul>
    <!-- Mobile Menu End -->

</nav>
<!-- Navbar End -->