{% load static %}


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/theme/jquery-min.js'%}"></script>
<script src="{% static 'js/theme/popper.min.js'%}"></script>
<script src="{% static 'js/theme/bootstrap.min.js'%}"></script>
<script src="{% static 'js/theme/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/theme/jquery.mixitup.js'%}"></script>
<script src="{% static 'js/theme/jquery.countTo.js'%}"></script>
<script src="{% static 'js/theme/jquery.nav.js'%}"></script>
<script src="{% static 'js/theme/scrolling-nav.js'%}"></script>
<script src="{% static 'js/theme/jquery.easing.min.js'%}"></script>
<script src="{% static 'js/theme/jquery.slicknav.js'%}"></script>
<script src="{% static 'js/theme/form-validator.min.js'%}"></script>
<script src="{% static 'js/theme/contact-form-script.js'%}"></script>
<script src="{% static 'js/theme/main.js'%}"></script>
<script src="{% static 'js/app/main.js' %}"></script>